[Unit]
Description=Dropbox
BindsTo=graphical-session.target
After=network-online.target graphical-session.target

[Service]
Type=forking
ExecStart=-/usr/bin/dropbox
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/home/vincent/.dropbox/dropbox.pid
Environment=DISPLAY=:0
Restart=on-failure

[Install]
WantedBy=graphical-session.target

